/************************ INSTALL *************************/
.ins_center {text-align:center}
.ins_ptop50 {padding-top:50px}
.ins_red {color:red}
.ins_green {color:green}

/************************ SAIT ****************************/
body {background:#000;}
@font-face{
	font-family:'Dota2';
	src:url('../fonts/dotafont.ttf') format('truetype');
}
/************************ HEADER *****************************/
.header_bar {
	background:url("../img/header_bg.png") no-repeat center;
}
.header .logo {height:50px; display:block}

.menunav ul {
	font-size:0;
	margin-bottom:0px;
}
.menunav ul li {
	display:inline-block;
	-webkit-transform: skewX(-15deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-15deg); /* Для Firefox */
    -o-transform: skewX(-15deg); /* Для Opera */
    -ms-transform: skewX(-15deg); /* Для IE */
    transform: skewX(-15deg); /* CSS3 */
	border-left:#3e3e3e solid 2px;
	border-right:#000 solid 2px;
	transition:0.5s;
	font-family:Dota2;
}
.menunav ul li:hover {
	color:#fff;
	-moz-box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	-webkit-box-shadow: 5px 0px 10px #000000,-5px 0px 10px #000000;
	box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	transition:0.5s;
}
.menunav ul li:hover +li {border-left:2px solid black;transition:0.5s;}
.menunav ul li a {
	padding:15px 30px 14px 30px; 
	margin:0px;
	font-size:15px;
	display:inline-block;
	color:#757d86;
	transition:0.5s;
	-webkit-transform: skewX(15deg); /* Для Safari и Chrome */
    -moz-transform: skewX(15deg); /* Для Firefox */
    -o-transform: skewX(15deg); /* Для Opera */
    -ms-transform: skewX(15deg); /* Для IE */
    transform: skewX(15deg); /* CSS3 */
	text-shadow:2px 3px 2px #000000;

}
.menunav ul li a:hover {
	text-decoration:none;
	color:#fff;
	text-shadow: 0 0 50px #00ffff, 
				0 -10px 50px #00ffff,
				0px 10px 50px #00ffff, 
				20px 0px 50px #00ffff, 
				-20px 0px 50px #00ffff;
	transition:0.5s;
	
}
.menunav ul .active {
	-moz-box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	-webkit-box-shadow: 5px 0px 10px #000000,-5px 0px 10px #000000;
	box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	transition:0.5s;
}
.menunav ul .active + li {border-left:2px solid black;}
 
.menunav ul .active a {
	color:#fff;
	text-decoration:none;	
	text-shadow: 0 0 50px #00ffff, 
				0 -10px 50px #00ffff,
				0px 10px 50px #00ffff, 
				20px 0px 50px #00ffff, 
				-20px 0px 50px #00ffff;
	transition:0.5s;
}

.menunav ul li a:link {text-decoration:none;}
.menunav ul li a:active {text-decoration:none;
	color:#fff;
}
/********************************* FOOTER *********************************/
.footer_bar {
	color:#fff;
	font-size:12px;
}
.footer {padding-top: 5px; }

/********************************** USER ACCOUN HEADER ICON ***************/
.user_acc a i {color:#757d86;padding:10px 0 0 100px;transition:0.5s;}
.user_acc a:hover i {color:#fff;transition:0.5s;}

/********************************** STEAM LOGIN ICON **********************/
.steam {background:#250a0c; width:55px; height:50px;}
.steam_enter {color:#ba5c2c;}
.steam_enter i {padding:10px 0 0 0;}
.steam_enter:hover {color:#d2a89d;}
.hidden_btn_steam {display:none;height:50px;}
.steam_enter:hover > .hidden_btn_steam {display:block;}

/*********************************** CONTENT ******************************/
.bdy {padding-top:100px;}
