/************************ INSTALL *************************/
.ins_center {text-align:center}
.ins_ptop50 {padding-top:50px}
.ins_red {color:red}
.ins_green {color:green}

/************************ SAIT ****************************/
body {
	background:#000;
	cursor: url(../img/defualt.cur), default;
}
a, a:hover {cursor: url(../img/defualt.cur), default;}
@font-face{
	font-family:'Dota2';
	src:url('../fonts/dotafont.ttf') format('truetype');
}
/************************ HEADER *****************************/
.header_bar {
	background:url("../img/header_bg.png") no-repeat center;
	z-index:99999;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
-webkit-box-shadow: 0px 8px 17px 1px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 8px 17px 1px rgba(0, 0, 0, 0.75);
box-shadow:         0px 8px 17px 1px rgba(0, 0, 0, 0.75);
}
.header .logo {height:50px; display:block;background:url(../img/shadow_logo.png) no-repeat;}

.menunav ul {
	font-size:0;
	margin-bottom:0px;
}
.menunav ul li {
	display:inline-block;
	-webkit-transform: skewX(-15deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-15deg); /* Для Firefox */
    -o-transform: skewX(-15deg); /* Для Opera */
    -ms-transform: skewX(-15deg); /* Для IE */
    transform: skewX(-15deg); /* CSS3 */
	border-left:#3e3e3e solid 2px;
	border-right:#000 solid 2px;
	transition:0.5s;
	font-family:Dota2;
}
.menunav ul li:hover {
	color:#fff;
	-moz-box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	-webkit-box-shadow: 5px 0px 10px #000000,-5px 0px 10px #000000;
	box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	transition:0.5s;
}
.menunav ul li:hover +li {border-left:2px solid black;transition:0.5s;}
.menunav ul li a {
	padding:15px 30px 14px 30px; 
	margin:0px;
	font-size:15px;
	display:inline-block;
	color:#757d86;
	transition:0.5s;
	-webkit-transform: skewX(15deg); /* Для Safari и Chrome */
    -moz-transform: skewX(15deg); /* Для Firefox */
    -o-transform: skewX(15deg); /* Для Opera */
    -ms-transform: skewX(15deg); /* Для IE */
    transform: skewX(15deg); /* CSS3 */
	text-shadow:2px 3px 2px #000000;

}
.menunav ul li a:hover {
	text-decoration:none;
	color:#fff;
	text-shadow: 0 0 50px #00ffff, 
				0 -10px 50px #00ffff,
				0px 10px 50px #00ffff, 
				20px 0px 50px #00ffff, 
				-20px 0px 50px #00ffff;
	transition:0.5s;
	
}
.menunav ul .active {
	-moz-box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	-webkit-box-shadow: 5px 0px 10px #000000,-5px 0px 10px #000000;
	box-shadow: 5px 0px 10px #000000, -5px 0px 10px #000000;
	transition:0.5s;
}
.menunav ul .active + li {border-left:2px solid black;}
 
.menunav ul .active a {
	color:#fff;
	text-decoration:none;	
	text-shadow: 0 0 50px #00ffff, 
				0 -10px 50px #00ffff,
				0px 10px 50px #00ffff, 
				20px 0px 50px #00ffff, 
				-20px 0px 50px #00ffff;
	transition:0.5s;
}

.menunav ul li a:link {text-decoration:none;}
.menunav ul li a:active {text-decoration:none;
	color:#fff;
}
/********************************* FOOTER *********************************/
.footer_bar {
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	color:#fff;
	font-size:12px;
	padding-bottom:15px;
	z-index:99999;
}
.footer {padding-top: 5px; }
.controls-buttons {text-align:right;}
.controls-buttons .volume{color:#707c80;}
.controls-buttons .volume:hover{color:#fff;}
.volumedown {padding-right:7px;}

/********************************** USER ACCOUN HEADER ICON ***************/
.user_acc a {color:#757d86;padding:9px 10px 0 10px;transition:0.5s;height:50px;}
.user_acc a:hover i {color:#fff;transition:0.5s;}

/********************************** STEAM LOGIN ICON **********************/
.steam {background:#250a0c; height:50px; padding:0px; width:50px;}
.steam_enter {color:#ba5c2c;height:50px;padding:22px 11px 11px 11px;transition:0.5s;}
.steam_enter i {padding:10px 0 0 0;}
.steam_enter:hover {color:#d2a89d;transition:0.5s;}

/*********************************** CONTENT ******************************/
.bdy {padding-top:100px;}
.main {z-index:10;}





/************************************   CHAT *********************************/
.chatinput {width:400px; height:25px; background:#000; border:1px solid #292e2f; padding-left:10px; color:#525252;}
.white {color:#fff;}




/*************************************    VIDEO BACKGROUND   **********************/
.is_overlay{display: block; width: 100%; height: 100%; z-index:-10;}
#trailer {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
}
#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 110%;
	z-index:0
}
@media (min-aspect-ratio: 16/9) {
     #trailer > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
     #trailer > video { width: 300%; left: -100%; }
}
/* Если есть поддержка object-fit, используем его: */
@supports (object-fit: cover) {
     #trailer > video {
         top: 0; 
		 left: 0;
         width: 110%; height: 110%;
         object-fit: cover;
     }
 }